#home {
  -fx-background-color: #578FCA;
}

.dashboard-pane {

  .regional-info-button {
    -fx-background-color: #3674B5;
    -fx-background-image: url("images/dashboard/regional1.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-text-fill: white;
    -fx-alignment: top-center;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 10, 0.5, 0, 0);
  }

  .weather-button {
    -fx-background-image: url("images/dashboard/weather_button.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-text-fill: white;
    -fx-alignment: top-center;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 10, 0.5, 0, 0);
  }
}